.content-wrapper{
    height: 100vh;
    width: calc(100vw-20px);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-repeat: no-repeat;
    background-size: cover;
}

