.content-wrapper{
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    background-repeat: no-repeat;
    background-size: cover;
}

.city{
    width: 100vw;
    text-align: center;
    font-size: 2em;
}