

.forecast-wrapper {
    display: grid;
    width: 100%;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    height: 500px;
    align-items: center;
    justify-items: center;

    .forecast-day {
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        
        .date {
            font-size: 1.5em;
        }
    }
}