.forecasts-wrapper {
    width: calc(100vw -20px);
}
.forecast-wrapper {
    padding: 20px 0px;
    display: grid;
    width: calc(100% - 20px); 
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    height: 250px;
    align-items: center;
    justify-items: center;

    .forecast-day {
        height: 100%;
        width: 50%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        background-color: $lightBackground;
        border-radius: 10px;
        padding: 10px;

        .temp-wrapper{
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;

            .temp{
                color: $lightBlue;
                font-weight: 800;
                font-size: 1em;
            }
        }
        
        .date {
            font-size: 1.5em;
        }
    }
}

.daily-forecast{
    padding: 20px 0px;
    display: flex;
    height: auto;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;

    .fourteen{
        border: none;
        padding: 20px;
        font-size: 1rem;
        width: 200px;
    }
}

.hourly-forecast{
    display: flex;
    height: 500px;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;

    .fourteen{
        border: none;
        padding: 20px;
        font-size: 1rem;
        width: 200px;
    }
}


