@media (max-width: 425px) {
    body{
        width: 100vw;
    }

    .lower-part{
        margin: 0px;
        padding: 0px;
        height: auto;
    }

    // .background-wrapper{
    //     height: auto;
    // }

    .content-wrapper{
        height: auto;
        min-height: 100vh;
        justify-content: space-between;
    }

    .navigation-wrapper{
        width: 100vw;
        height: 10%;
    }

    .navigation-links{
        width: 100%;

        .navigation-link{
            height: auto;
        }
    }

    

    .toggle-login{
        margin-top: 95px;
        height: 200px;
        width: 100%;
        padding: 10px;
        background-color: $white;
        display: flex;
        align-items: center;
        justify-content: center;
        box-shadow: 0px 6px 17px 0px rgba(0,0,0,0.75);
    }

    .auth-wrapper{
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 5px;
        height: 200px;
    }
    .form{

        .top{
            flex-direction: column;

            
        }

        button{
            width: 100%;
        }
    }

    .menu-wrapper{
        margin-top: 80px;
        width: 250px
    }

   

    .forecasts-wrapper{
        width: 100vw;
        display: flex;
        height: auto;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        padding: 0px;
        margin:0px;

        .hourly-forecast{
            height: auto;
            padding: 20px 0px;
        }

        .daily-forecast{
            height: auto;
            padding: 20px 0px;
        }
        .forecast-wrapper{
            padding-top: 20px;
            display: grid;
            grid-template-columns: 1fr;
            grid-gap: 20px;
            height: auto;
            width: 100vw;
            flex-direction: column;
            align-items: center;
            justify-content: space-around;
        }

    }

    
    
    
    .search-and-results{
        width: 100%;
        height: auto;

        .search-wrapper{
            width: 300px;
            display: flex;
            flex-direction: column;
            height: 80vh;

            .search-button {
                border: none;
                height: 60px;
                width: 35%;
                padding: 20px;
    
                button {
                    height: 100%;
                    width: 100%;
                    background-color: $white;
                    border: none;
                    color: $base;
                    padding: 10px;
                    font-weight: 500;
                    font-size: 1.5em;
                    
                }
            }
            
            .search-input{
                width: 90%;
                input{
                width: 100%;
                }
            }
    
            
        } 
    }

    .weather-conditions{
        height: 900px;
        padding-bottom: 5px;

        .current-conditions{
            margin-top: 120px;
            padding-top: 50px;
            width: 300px;
            display: flex;
            flex-direction: column;
            height: 650px;
        }

        .stats-wrapper{
            width: 250px;
        }
    }
    
    
    .city{
        flex-direction: column;
        width: 30vw;
    }
}