.search-and-results{
    display: flex;
    height: 20%;
    width: 100%;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;

    .search-wrapper{
        display: flex;
        width: 300px;
        width: 650px;
        justify-content: center;
        align-items: center;


        .search-button {
            border: none;
            height: 60px;
            width: 30%;
            padding: 20px;

            button {
                height: 100%;
                width: 100%;
                background-color: $white;
                border: none;
                color: $base;
                font-weight: 700;
                font-size: 1.5em;
                
            }
        }

        .search-input {
            height: 60px;
            width: 70%;
            padding: 20px;
            

            input {
                height: 100%;
                width: 400px;
                padding: 10px;
                background-color: $white;
                border: none;
                border-radius: 2px;
            }

            input:focus{
                outline: none;
            }
        }
    }
}

.select-location{
    display: flex;
    background-color: white;
    width: 200px;
    justify-content: center;;

    .locations {
        padding-top: 5px;
        padding-bottom: 5px;
    }
}

